{#
/**
 * @file
 * Main Page Template.
 *
 * Available variables:
 * - page: The content regions for this page.
 * - attributes: HTML attributes for the region div.
 *
 * @see template_preprocess_page()
 * Adds chatbot
 */
#}
{# Dialogflow Messenger Integration #}
<div class='chatbot-wrapper'>
    <link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
    <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
<body>
    <df-messenger
      location="us-central1"
      project-id="uit-et-ai-playground-dev"
      agent-id="4ec6622c-1665-498a-b4cd-c3b107e12303"
      language-code="en"
      max-query-length="-1"
      allow-feedback="-1">
      <df-messenger-chat-bubble
        chat-title="Admin Guide Assistant"
        bot-writing-text="Generating answer..."
        chat-subtitle="Your AI-Powered guide to Stanford Policies"
        chat-width="400"
        chat-height="550"
        placeholder-text="Type a question...">
      </df-messenger-chat-bubble>
    </df-messenger>
</div>
